body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
 
 }
.topnav {
     background-color: #333;
     text-align: center;
 }
 .background{  
    padding-left: 250px;
    padding-right: 250px;
    padding-top: 20px;
    padding-bottom: 50px;
    background: #f1f1f1;

 }
 .topnav a,i{
    display: flexbox;
    color: whitesmoke;
    position: relative;
    padding: 10px;
    justify-content: center;
    text-decoration: none;
    font-size: small;
   
 }
 
 .topnav a:hover, i:hover {
    color: lightgrey;
    opacity: 0.6;
    transition: 1s;
 }
 
 .topnav a.active {
    color: white;
 }

 p{
     text-align: left;
     padding-left: 100px;
     padding-right: 100px;
     font-weight: lighter;
     font-size: smaller;
   
}
h2{
   text-align: left;
   padding-left: 100px;
   padding-right: 100px;
   font-weight: solid bolder;
   font-size: medium;
}
 .header {
     padding: 30px;
    font-size: 20px;
    text-align: center;
    background: white;
}
.idname {
      color: lightgrey;
}